#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;

  margin-left: 5%;
}

h2 {
  margin-left: 5%;
}


html { 
  background: url(../../images/MessageFeed.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}